torch
numpy
scikit-learn
pandas
albumentations
torchvision
tqdm
matplotlib
nltk
gensim
tqdm
wandb
ipywidgets
kagglehub
wordcloud
bokeh
tokenizers
sentence-transformers
langchain_community
langchain_huggingface
chromadb
