torch==2.2.1
numpy==1.24.4
scikit-learn==1.3.2
pandas==2.0.3
albumentations==1.4.2
torchvision==0.17.1
tqdm==4.66.2
matplotlib
nltk
gensim==4.3.3
keras
tensorflow
tqdm
wandb
ipywidgets
kagglehub
wordcloud
bokeh
